<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Mines Foundry</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-grid>
          <ion-list>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" class="menu-item" routerLink="/events/tabs/discover" button>
            <ion-icon style="color:#ffdb00" name="business" slot="start"></ion-icon>
            <ion-label>Explore Events</ion-label>
          </ion-item>
        </ion-menu-toggle>
          <ion-menu-toggle menu="m1">
          <ion-item lines="none" class="menu-item" routerLink="/bookings" button>
            <ion-icon style="color:#ffa904"  name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>My Event Reservations</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" class="menu-item" (click)="onLogout()" button>
            <ion-icon color="tertiary" name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-grid>

    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
